<div id="wrapper">
	<div id="column">
		<h1>Anniepix</h1>
		<h3><%= link_to "Add A Picture", "/pictures/new" %></h3>
		<% @pictures.each do |picture| %>
		<div class="index_image">
			<%= link_to image_tag(picture.url), "pictures/#{picture.id}" %>
			<p><strong>Title:</strong> <%= picture[:title] %><br>
				<strong>Aritst:</strong> <%= picture[:artist] %></p>
		</div>
		<% end %>
	</div>
</div>